<div class="container">

  <p id="notice"><%= notice %></p>
  <h2>
    <%= @restaurant.name %>
  </h2>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category.capitalize %>
  </p>

  <h4>Reviews:</h4>

  <div>
    <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><% review.rating.to_i.times do %>⭐️<% end %></p>
    <% end %>
  </div>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %> |
  <%= link_to 'Add review', new_restaurant_review_path(@restaurant) %>
</div>
